*{
    padding:0; margin:0; box-sizing: border-box;
}
body{
    padding: 0 20px;
}
.wrapper{
    max-width: 450px;
    margin: 90px auto;
}
  .wrapper .search-input{
    background: #fff;
    width: 100%;
    position: relative;
  } 
  .search-input input{
    font-family: 'Noto Sans JP', sans-serif;
    color:gray;
    height: 55px;
    width: 100%;
    outline:none;
    border-right: none;
    border-left: none;
    border-top:none;
    border-bottom:1px solid gray;
    padding: 0 60px 0 20px;
    font-size: 17px;
    /* box-shadow: 0px 1px 18px rgba(0,0,0,0.1); */
  }
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
  }
  .hospital{
    margin-top:50px;
    margin-bottom:-20px;
    position:relative;
    border: 1px solid black;
    background-color: rgb(252, 246, 237);
    padding:10px;
  }
 .hospital-name{
    display:flex;
    position:relative;
    font-size:80%;
    color:rgb(80, 8, 8);
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
 }
 .hospital-name i{
    right:0;
    color:rgb(202, 134, 8);
    cursor: pointer;
    position:absolute;
 }
 .details{
   display: none;
 }
 .up-arr{
    visibility: hidden;
 }
 .show-details {
    margin:30px 0 0 20px;
    display: inline;
    color:rgb(63, 155, 101);
    font-size: 70%;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px ;
 }
 .show-details p{
    padding-bottom: 5px;
    font-weight: bold;
 }
 .show-arr .down-arr{
   display: none;
 }
 .show-arr .up-arr{
   visibility: visible;
}

   /* navbar  */
   .navbar{
    display: flex;
    background-color: rgb(238, 238, 238);
    top:0;
    left:0;
    width:100vw;
    height:7vh;
    position:fixed;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 0.8px;
  }
  
  ul{
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
    padding-left:100px;
  }
  ul li{
    padding:0 15px;
  }
  .logo{
   font-family:'Courier New', Courier, monospace;
   text-decoration: none;
   font-weight: bold;
   font-size: 70%;
   color:rgb(48, 76, 202);
 }
 .logo small{
   font-size: 170%;
   font-family:'Courier New', Courier, monospace;
 }
  .home{
     color:gray;
     cursor: pointer;
     text-decoration: none;
  }
  .trackVaccine{
    color:black;
    text-decoration: none;
  } 
  .home:hover{
    color:black;
  }

  /* navbar ended  */


 @media(max-width:550px){
   .hospital-name p{
      font-size:90%; 
   }
   .show-details{
     font-size: 70%;
   }
 }
 @media(max-width:420px){
   .hospital-name p{
     font-size: 70%;
   }
   .show-details{
     font-size:60%;
   }
   .navbar{
    font-size:80%;
  }
  .navbar a{
    padding-left:10px;
  }
  ul li{
    padding: 0 6px;
  }
 }